@page "/authors/"
@attribute [Authorize]
@inject IAuthorRepository _authorRepository
@inject NavigationManager _navigationManager

<h3>Authors</h3>

@if (Model == null)
{
    <div class="alert alert-dismissible alert-secondary">Loading...</div>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var author in Model)
            {
                <tr>
                    <td>@author.Firstname</td>
                    <td>@author.Lastname</td>
                    <td>
                        <a href="/authors/view/@author.Id" class="btn btn-primary btn-sm"><span class="oi oi-book"></span> View</a>
                        <AuthorizeView Roles="Administrator">
                            <a href="/authors/edit/@author.Id" class="btn btn-warning btn-sm"><span class="oi oi-pencil"></span> Edit</a>
                            <a href="/authors/delete/@author.Id" class="btn btn-danger btn-sm"><span class="oi oi-delete"></span> Delete</a>
                        </AuthorizeView>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<AuthorizeView Roles="Administrator">
    <a href="/authors/create" class="btn btn-success m-2"><span class="oi oi-plus" aria-hidden="true"></span> Add new Author</a>
</AuthorizeView>

@code {
    private IList<Author> Model;

    protected async override Task OnInitializedAsync()
    {
        Model = await _authorRepository.Get(Endpoints.AuthorsEndpoint);

    }
}
